---
import Base from "../layout/Base.astro";
import type { GuestbookEntry } from "../types";

const { email } = Astro.locals;

// Fetch guestbook entries from the API
const response = await fetch("/api/guestbook");
const data: GuestbookEntry[] = await response.json();
---

<Base title="Dashboard">
  <section>
    <p>{email}</p>
    <p>This is a protected page.</p>
    <a href="/api/auth/signout">Sign out</a>
    {data.map(entry => (
      <div>
        <h3>{entry.name}</h3>
        <p>{entry.message}</p>
      </div>
    ))}
  </section>
</Base>