---
// src/pages/dashboard.astro
import Base from "../layout/Base.astro";

const { email } = Astro.locals;
---

<Base title="Dashboard">
  <section>
    <p>{email}</p>
    <p>This is a protected page.</p>
    <a href="/api/auth/signout">Sign out</a>
  </section>
</Base>