---
// src/pages/dashboard.astro
import Form from "../components/Form.astro"
import Base from "../layout/Base.astro";
import Profile from "../components/Profile.astro";
const { name, school, phone } = Astro.locals;
---

<Base title="Dashboard">
<Profile />
  <md-text-button class="logout" href="/api/auth/signout">KELUAR</md-text-button>
<Form userName={name} userSchool={school} userPhone={phone}></Form>
</Base>

<script>
import "material/dialog/dialog";
import "material/button/text-button";
</script>

<style>
md-text-button{
    font-family: 'Open Sans Variable', sans-serif;
    --md-text-button-label-text-color: var(--md-sys-color-error);
}
</style>