---
// src/pages/index.astro

import Base from "../layout/Base.astro";
import { Image } from "astro:assets";
import ayahLogo from "../images/ayat.svg";
import { Icon } from "astro-icon/components";
import CompetitionAnnouncement from "../components/CompetitionAnnouncement.astro";
---

<Base title="Faraid Academy - Home">
  <div class="main-verse col">
    <div class="verse row">
      <Icon class="flip" name="parenthesis" size="2em" />
      <Image src={ayahLogo} alt="Quran Verse" height="70" />
      <Icon name="parenthesis" size="2em" />
    </div>
    <p class="row">
      These (inheritance rules) are settled portions ordained by Allah <Icon
        name="tabarak"
      />
      <p class="row">
        (Pembagian warisan) Ini adalah ketetapan dari Allah <Icon
          name="tabarak"
        />
      </p>
    </p>
  </div>
  <CompetitionAnnouncement></CompetitionAnnouncement>

  <style>
    .main-verse {
      gap: 1em;
      font-family: "EB Garamond Variable", serif;
    }

    .flip {
      transform: scaleX(-1);
    }

    .verse {
      gap: 1em;
    }

    p {
      text-align: center;
      gap: 0.3em;
    }
  </style>
</Base>
