---
// src/pages/register.astro
import Base from "../layout/Base.astro";
import AuthForm from "../components/AuthForm.astro"; // Import
const title = "Register";
---

<Base title={title}>
  <main>
    <section>
      <h1>{title}</h1>
      <p>
        Already have an account? <a href="/signin">Sign in</a>
      </p>
      <AuthForm action="/api/auth/register" submitText="Register" />
    </section>
  </main>
</Base>