---
// src/pages/signin.astro
import Base from "../layout/Base.astro";
import AuthForm from "../components/AuthForm.astro";
const title = "Log in";

---

<Base title={title}>
  <main>
    <section>
      <AuthForm showProviderButtons />
    </section>
  </main>
</Base>