---
import Base from "../layout/Base.astro";
const title = "Sign in";
---

<Base title={title}>
  <main>
    <section>
      <h1>{title}</h1>
      <p>
        New to demo? <a href="/register">Create an account</a>
      </p>
      <form action="/api/auth/signin" method="post">
        <div>
          <label for="email">Email</label>
          <input id="email" type="email" name="email" />
        </div>
        <div>
          <label for="password">Password</label>
          <input id="password" type="password" name="password" />
        </div>
        <button type="submit">Sign In</button>

        <hr />
        <p>Or with</p>
        <button value="github" name="provider" type="submit">
          Sign in with GitHub
        </button>
        <button value="google" name="provider" type="submit">
          Sign in with Google
        </button>
      </form>
    </section>
  </main>
</Base>