---
// src/components/AuthForm.astro
interface Props {
  showProviderButtons?: boolean;
}

const { showProviderButtons = false } = Astro.props;
---

{
  showProviderButtons && (
    <>
      <form action="/api/auth/signin" method="post">
        <md-text-button
          class="button"
          name="provider"
          value="google"
          type="submit">
          Log in with Google
        </md-text-button>
      </form>
    </>
  )
}

<script>
    import "material/button/text-button";
</script>

<style>
  .button{
        font-family: "Open Sans", sans-serif;
    }
</style>