---
import { Icon } from "astro-icon/components";
---

<md-elevated-card class="card col">
    <div class="main col">
        <Icon name="trophy" size="2em" />
        Olimpiade Faraid<wbr> 2025
    </div>
    <md-filled-button>DAFTAR</md-filled-button>
</md-elevated-card>
<script>
    import "material/button/filled-button";
    import "material/card/outlined-card";
    import "material/card/elevated-card";
    import "material/card/filled-card";
</script>
<style>
    .card {
        padding: 1em;
        font-size: 1.5em;
        text-align: center;
        gap:1em;
        font-weight: 600;
        backdrop-filter: blur(1px);
    }

    .main {
        gap: 0.5em;
    }
</style>
