---
import { Icon } from "astro-icon/components";
---

<div class="card col">
    <div class="main col">
        <Icon name="trophy" size="2em" />
        Olimpiade Faraid<wbr> 2025
    </div>
    <md-filled-button>DAFTAR</md-filled-button>
</div>
<script>
    import "material/button/filled-button";
</script>
<style>
    .card {
        border-radius: 12px;
        background-color: rgba(0, 255, 255, 0.342);
        padding: 1em;
        font-size: 1.5em;
        text-align: center;
        gap:1em;
        font-weight: 600;
        backdrop-filter: blur(1px);
    }

    .main {
        gap: 0.5em;
    }
</style>
