---
import { Icon } from "astro-icon/components";

const socialMedia = [
    { name: "fa6-brands:square-twitter", url: "https://x.com/" },
    { name: "fa6-brands:square-facebook", url: "https://facebook.com/" },
    { name: "fa6-brands:square-whatsapp", url: "https://wa.me/966558066420" },
    { name: "fa6-brands:telegram", url: "https://t.me/966558066420" },
];
---

<footer class="col">
    <div class="icons">
        {
            socialMedia.map((social) => (
                <a
                    href={social.url}
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label={`Link to our ${social.name.split(":")[1]} page`}
                >
                    <Icon name={social.name} size={12} />
                </a>
            ))
        }
    </div>
    <div class="copy">&copy; 2025, Faraid Academy. All rights reserved.</div>
</footer>

<style>
    footer {
        position: absolute;
        bottom: 0;
        padding: 0.5em;
        opacity: 0.5;
    }
    .icons {
        display: flex;
        gap: 0.5em;
    }
    .icons a {
        color: inherit;
        text-decoration: none;
        transition: color 0.2s ease;
        display: inline-block;
    }
    .icons a:hover {
        color: #007bff;
        transform: scale(1.1);
    }

    .copy{
        font-size:0.5em;
    }
</style>
