---
import "@fontsource-variable/eb-garamond";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import ThemeIcon from "./ThemeIcon.astro";
import Navbar from "./Navbar.astro";
import NavStrip from "./NavStrip.astro";
import LoginWithGoogleButton from './LoginWithGoogleButton.astro';

interface Props {
    isLoggedIn: boolean;
}

const { isLoggedIn } = Astro.props;
const { avatar_url, name } = Astro.locals;
---

<header>
    <a href="/">
        <div class="main">
            <Icon name="Logo" size="1.5em" />
            <h1>FaraidAcademy</h1>
        </div>
    </a>
    <div class="nav row">
        <NavStrip />
        <ThemeIcon />
		
        {
            isLoggedIn ? (
                avatar_url ? (
                    <a href="/dashboard">
                        <Image
                            class="avatar"
                            src={avatar_url}
                            alt={name ? `${name}'s avatar` : "User Avatar"}
                            width={32}
                            height={32}
                            format="webp"
                        />
                    </a>
                ) : (
                    <a href="/dashboard">Dashboard</a>
                )
            ) : (
                <LoginWithGoogleButton buttonText="LOGIN" />
            )
        }
        <Navbar />
    </div>
</header>

<script>
    import "material/button/text-button";
</script>

<style>
    header {
        font-family: "EB Garamond Variable", serif;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.3em;
        position: fixed;
        top: 0;
        padding: 1em;
        justify-content: space-between;
        width: 100%;
        background-color: transparent;
        z-index: 100;
    }


    .main {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5em;
        font-size: 1em;
    }

    h1 {
        font-weight: 500;
        font-size: 1em;
    }

    header a {
        display: flex;
        text-decoration: none;
        color: inherit;
        height: min-content;
    }
    .nav {
        width: min-content;
        height: min-content;
        gap: 1em;
		display: flex;
        font-size: 0.8em;
    }
    .avatar {
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid var(--md-sys-color-outline-variant);
    }

    .button {
        font-family: "Open Sans", sans-serif;
    }
</style>