---

---

<div class="question-container">
    <div class="question-text">&questiontextfrom`question`</div>
    <div class="answers-container">
        <div class="answer-text">&answertextfrom`answer`</div>
        <div class="answer-text">&answertextfrom`answer`</div>
        <div class="answer-text">&answertextfrom`answer`</div>
        <div class="answer-text">&answertextfrom`answer`</div>
        <div class="answer-text">None of the above</div>
    </div>
</div>